.flipCard {
    perspective: 1000px;
}

.flipCardInner {
    @apply relative h-full w-full;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
    @apply absolute h-full w-full;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCardBack {
    transform: rotateY(180deg);
}
